*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
cycling_data/CMakeCache.txt
\#sloppy.yml\#
cycling_data/CMakeFiles
cycling_data/Makefile
cycling_data/cmake_install.cmake
cycling_data/lib
.eggs
