{% extends "layout.jinja2" %}

{% block content %}


  <div class="row">
    <div class="col-8 col-sm-6">
      {{equipment.count()}} total
    </div>
    <div class="col-4 col-sm-6">
      <p style="text-align:right"><a href="/equipment/add">Add new</a></p>
    </div>
  </div>

{{page.pager(url="/equipment/list?page=$page")|safe}}

<table>
<tr>
<th>Name</th>
</tr>
{% for equipment in page.items %}
<tr>
<td><a href="/equipment/{{equipment.id}}/edit">{{equipment.name}}</a></td>
</tr>
{% endfor %}
</table>

{{page.pager(url="/equipment/list?page=$page")|safe}}

{% endblock content %}
