{% extends "layout.jinja2" %}

{% block content %}

  <div class="row">
    <div class="col-8 col-sm-6">
      {{locations.count()}} total locations</p>
    </div>
    <div class="col-4 col-sm-6">
      <p style="text-align:right"><a href="/locations/add">Add new</a></p>
    </div>
  </div>

{{page.pager(url="/locations/list?page=$page")|safe}}

<table class="data_table">
<tr>
<th>Name</th>
<th>Lat</th>
<th>Lon</th>
<th>Elev</th>
<th>Description</th>
<th>Remarks</th>
</tr>
{% for location in page.items %}
<tr>
<td><a href="/locations/{{location.id}}/edit">{{location.name}}</a></td>
<td>{{location.lat}}</td>
<td>{{location.lon}}</td>
<td>{{location.elevation}}</td>
<td>{{location.description}}</td>
<td>{{location.remarks}}</td>
</tr>
{% endfor %}
</table>

{{page.pager(url="/locations/list?page=$page")|safe}}

{% endblock content %}
