{% extends "layout.jinja2" %}

{% block content %}

  <div class="row">
    <div class="col-8 col-sm-6">
      {{rides.count()}} total rides
    </div>
    <div class="col-4 col-sm-6">
      <p style="text-align:right"><a href="/rides/add">Add new</a></p>
    </div>
  </div>

{{page.pager(url="/rides?page=$page")|safe}}

<table class="data_table">
<tr>
<th></th>
<th>Start time</th>
<th>End time</th>
<th>Start location</th>
<th>End location</th>
<th>Distance</th>
<th>Rolling time</th>
<th>Total time</th>
<th>Average speed</th>
<th>Equipment</th>
<th>Rider group</th>
</tr>
{% for ride in page.items %}
<tr>
<td><a href="/rides/{{ride.id}}/details">details</a> <a href="/rides/{{ride.id}}/edit">edit</a></td>
<td>{{ride.start_time}}</td>
<td>{{ride.end_time}}</td>
<td>{{ride.startloc}}</td>
<td>{{ride.endloc}}</td>
<td>{{ride.distance}}</td>
<td>{{ride.rolling_time}}</td>
<td>{{ride.total_time}}</td>
<td>{{ride.avspeed}}</td>
<td>{{ride.equipment.name}}</td>
<td>{{ride.ridergroup.name}}</td>
</tr>
{% endfor %}
</table>

{{page.pager(url="/rides?page=$page")|safe}}

{% endblock content %}
