{% extends "layout.jinja2" %}

{% block content %}

<p>{{rides.count()}} total rides</p>

{{page.pager(url="/rides?page=$page")|safe}}

<table>
<tr>
<th></th>
<th>Start time</th>
<th>End time</th>
<th>Start location</th>
<th>End location</th>
<th>Distance</th>
<th>Rolling time</th>
<th>Total time</th>
<th>Average speed</th>
<th>Equipment</th>
<th>Rider group</th>
</tr>
{% for ride in page.items %}
<tr>
<td><a href="/rides/{{ride.id}}/edit">edit</a></td>
<td>{{ride.start_time}}</td>
<td>{{ride.end_time}}</td>
<td>{{ride.startloc}}</td>
<td>{{ride.endloc}}</td>
<td>{{ride.distance}}</td>
<td>{{ride.rolling_time}}</td>
<td>{{ride.total_time}}</td>
<td>{{ride.avspeed}}</td>
<td>{{ride.equipment.name}}</td>
<td>{{ride.ridergroup.name}}</td>
</tr>
{% endfor %}
</table>

{{page.pager(url="/rides?page=$page")|safe}}

{% endblock content %}
